@import url('https://fonts.googleapis.com/css2?family=Titillium:100,200,300,400,500,600,700|Open+Sans:100,200,300,400,500,600,700');

* {
    margin: 0;
    padding: 0;
    border: none;
}

.title {
    font-family: 'Titillium', serif;
    font-size: 180%;
    color: #16232A;
}




