@import url('https://fonts.googleapis.com/css2?family=Titillium:100,200,300,400,500,600,700|Open+Sans:100,200,300,400,500,600,700');

* {
    margin: 0;
    padding: 0;
    border: none;
}

.logo {
    background: url(../images/hero-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    transition: all .5s ease-in-out
}
