<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link rel="stylesheet" href="{{  url_for('static', filename='css/style.css')}}">
    <title>Wild Atlantic</title>
</head>
<body> 

    <!--Nav-->
    <nav class="navbar navbar-expand-lg navbar-light py-4" style="background-color: #9EBCC7;">
        <a class="navbar-brand title" href="#">Wild Atlantic</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('menu') }}">Menu</a>
            </li>
          </ul>
          <span class="navbar-text" >
            A taste of the Wild Atlantic
          </span>
        </div>
    </nav> 


{% block content %}
{% endblock %}

    <footer class="text-center bg-body-tertiary" style="background-color: #9EBCC7;">
    <!-- Grid container -->
    <div class="container pt-4">
        <!-- Section: Social media -->
        <section class="mb-4">

        <a
            data-mdb-ripple-init
            class="btn btn-link btn-floating btn-lg text-body m-1"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-facebook-f"></i
        ></a>

        <a
            data-mdb-ripple-init
            class="btn btn-link btn-floating btn-lg text-body m-1"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-twitter"></i
        ></a>

        <a
            data-mdb-ripple-init
            class="btn btn-link btn-floating btn-lg text-body m-1"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-instagram"></i
        ></a>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Address -->
    <div class="text-center p-3" style="background-color: #9EBCC7;">
        <a class="text-body" href="https://mdbootstrap.com/">Wild Atlantic, 2 Roadway, The Wild Atlantic Way, Ireland, P658 23TY</a>
    </div>
    <!-- Address -->
    </footer>
</body>
</html>