{% extends "base.html" %}
{% block content %}
    <!-- Opening Hours -->   
    <section>
        <div style="padding: 2%; background-image: url('{{ url_for('static', filename='images/hero-image.png') }}'); background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 600px;">
            <div class="badge badge-primary text-wrap" style="width: 20%; background-color: #16232A; color: #9EBCC7; line-height: normal; font-size: larger; float: right; clip-path: padding-box;">
                <h3>Opening Hours</h3>
                <ul>
                    <li>Monday - 12.00-9.00</li>
                    <li>Tuesday - Closed</li>
                    <li>Wednesday - 12.00-9.00</li>
                    <li>Thursday - 12.00-9.00</li>
                    <li>Friday - 12.00-9.00</li>
                    <li>Saturday - 12.00-11.00</li>
                    <li>Sunday - 12.00-11.00</li>
                </ul>
            </div>
        </div>
    </section>

{% endblock %}