{% extends "base.html" %}
{% block content %}
    <!-- Opening Hours -->   
    <section>
        <div style="padding: 2%; background-image: url(../assets/images/hero-image.png); background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 600px;" >
            <div class="badge badge-primary text-wrap" style="width: 20%; background-color:rgb(22, 35, 42);opacity:0.9; color: #9EBCC7; line-height: normal; font-size: larger; float: right; clip-path: padding-box;">
                <h3>Opening Hours</h3>
                <ul>
                    <li>Monday - 12.00-9.00</li>
                    <li>Tuesday - Closed</li>
                    <li>Wednesday - 12.00-9.00</li>
                    <li>Thursday - 12.00-9.00</li>
                    <li>Friday - 12.00-9.00</li>
                    <li>Saturday - 12.00-11.00</li>
                    <li>Sunday - 12.00-11.00</li>
                </ul>
            </div>
            <div class="container-fluid mt-3 badge badge-primary text-wrap" 
                    style="width: 75%; background-color: rgb(22, 35, 42);opacity:0.9; color: #B1CAD2; line-height: normal; font-size: smaller; float: left; clip-path: padding-box;">
                <div class="row justify-content-center">
                    <!-- Menu -->
                    <div class="col-md-10 col-lg-8 pt-3 text-center">
                        <h2>Menu</h2>

                    </div>
                </div>
                <div class="row justify-content-center">
                    <!-- Left side-->
                    <div class="col-11 col-md-5 col-lg-4 pt-3 text-center">
                        <h3>Starters</h3>
                        <p>one</p>
                        <p>two</p>
                        <p>three</p>
                        <h3>Mains</h3>
                        <p>one</p>
                        <p>two</p>
                        <p>three</p>
                        <h3>Sides</h3>
                        <p>one</p>
                        <p>two</p>
                        <p>three</p>
                    </div>
                    <!-- Right side -->
                    <div class="col-11 col-md-5 col-lg-4 pt-md-3 text-center">   
                        <h3>Desserts</h3>
                        <p>one</p>
                        <p>two</p>
                        <p>three</p>
                        <h3>Kids</h3>
                        <p>one</p>
                        <p>two</p>
                        <p>three</p>
                        <h3>Drinks</h3>
                        <p>one</p>
                        <p>two</p>
                        <p>three</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}